<launch>
	<arg name="config" 		default="/home/lucky/workspace/src/orb_slam/Examples/RGB-D/xtion.yaml"/>
	<arg name="yolo_cfg" 		default="/home/lucky/MyLib/darknet/cfg/tiny-yolo.cfg"/>
	<arg name="yolo_weights" 	default="/home/lucky/MyLib/darknet/tiny-yolo.weights"/>
	<arg name="yolo_data"		default="/home/lucky/MyLib/darknet/cfg/coco.data"/>
	<arg name="yolo_label"		default="/home/lucky/MyLib/darknet/data/labels"/>

	<node pkg="orb_slam" type="RGBD" name="slam2rgbd" output="screen">
		<param name="ros"		type="bool"	value="True"/>
		<param name="use_gui"		type="bool"	value="True"/>

		<param name="base_tf"		value="/robot_link"/>
		<param name="world_tf"		value="/map"/>
		<param name="odom_tf"		value="/odom"/>

		<param name="bag_of_word"	value="/home/lucky/workspace/src/orb_slam/Vocabulary/ORBvoc.txt"/>
		<param name="config"        	value="$(arg config)"/>

		<param name="yolo_data"		value="$(arg yolo_data)"/>
		<param name="yolo_cfg"		value="$(arg yolo_cfg)"/>
		<param name="yolo_weight"	value="$(arg yolo_weights)"/>
		<param name="yolo_label"	value="$(arg yolo_label)"/>

		<remap from="/rgb"	    	to="/camera/rgb/image_raw"/>
		<remap from="/depth"         	to="/camera/depth/image_raw"/>
		<remap from="/tmp/pointcloud"	to="/camera/tmp/pointcloud"/>
		<remap from="/tmp/cmd"		to="/camera/tmp/cmd"/>
	</node>

</launch>
