<launch>
	<arg name="robot_id" default="0"/>
	<include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch">
		<arg name="base_name" 			value="robot$(arg robot_id)"/>
	</include>
<!--	
	<node pkg="getmap" type="getmap" name="getmap$(arg robot_id)">
		<param name="map_tf"			value="/robot$(arg robot_id)/world"/>	

		<remap from="/tmp/pointcloud"		to="/robot$(arg robot_id)/tmp/pointcloud"/>
		<remap from="/result/pointcloud"	to="/robot$(arg robot_id)/result/pointcloud"/>
	</node>	
-->
<!--
	<node pkg="getgridmap" type="getgridmap" name="getgridmap$(arg robot_id)">
		<param name="robot_id" 		type="int" 	value="$(arg robot_id)"/>
		<remap from="/projected_map" 	to="/robot$(arg robot_id)/projected_map"/>
		<remap from="/robot_yaw" 	to="/robot$(arg robot_id)/robot_yaw"/>
	</node>
-->
<!--
	<node pkg="octomap_server" type="octomap_server_node" name="octomap_server$(arg robot_id)">
                <param name="resolution" value="0.025"/>
		<param name="robot_h" type="double" 	value="0.4"/>
		<param name="height"  type="double" 	value="0.8"/>
                <param name="robot_id"  type="int" 	value="$(arg robot_id)"/>
                <param name="model"  	type="int" 	value="1"/>
                <param name="dynamic_map"         	value="true"/>
                <param name="complete_map"        	value="false"/>

                <param name="robot_id"  type="int" 	value="$(arg robot_id)"/>
                <param name="frame_id" 			value="/robot$(arg robot_id)/world"/>

                <remap from="/tmp/pointcloud" 		to="/robot$(arg robot_id)/tmp/pointcloud"/>

                <remap from="projected_map" 		to="/robot$(arg robot_id)/projected_map"/>
                <remap from="robot_yaw" 		to="/robot$(arg robot_id)/robot_yaw"/>
                <remap from="occupied_cells_vis_array" 	to="/robot$(arg robot_id)/occupied_cells_vis_array"/>
        </node>
-->

	<node pkg="orb_slam" type="RGBD" name="slam2rgbd$(arg robot_id)">
		<param name="use_gui"		type="bool"	value="true"/>
		<param name="base_tf"		value="/robot$(arg robot_id)/base_link"/>
		<param name="world_tf"		value="/robot$(arg robot_id)/world"/>
		<param name="bag_of_word"	value="/home/lucky/worksapce/src/orb_slam/Vocabulary/ORBvoc.txt"/>
		<param name="config"        	value="/home/lucky/worksapce/src/orb_slam/Examples/RGB-D/kinectv2.yaml"/>
		<remap from="/rgb"	    	to="/robot$(arg robot_id)/sd/image_color_rect"/>
		<remap from="/depth"         	to="/robot$(arg robot_id)/sd/image_depth"/>
		<remap from="/tmp/pointcloud"	to="/robot$(arg robot_id)/tmp/pointcloud"/>
	</node>

</launch>
